body{
  background-image: url('header.jpg');
  background-size: 100%;
}

h1{
    margin: 0;
    background: yellow;
    position: absolute;
    top: 50%;
    left: 35%;
    /*margin-right: -50%;*/
}

button{
   position: absolute;
    top: 70%;
    left: 45%;
    /*margin-right: -50%;*/
}